

<h1><%= @cuber.name %>'s <%= @type %> Stats</h1>




<br><p>Personal Best: <br> <%= @best_cube_time.cube_time %></p>
<p>Overall Average: <br> <%= @average_cube_time.round(2) %></p>
<p>Last 5 Cube Times: </p>
<% @last_5.each do |x| %>
<p><%= x.cube_time %> - <%= x.cube_type %></p>
<% end %>

<a href="/cube_times/new"><input type="submit" value="Enter New Time"></a>
<br>
<a href="/logout"><input type="submit" value="Logout"></a>